@model TodoListModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Todo List</h1>
    
        @if(Model.todoItems != null){
          for(int i = 0; i < Model.todoItems.Count; i++){
              <div class="form-group">
                <table style="margin-left:auto;margin-right:auto;">
                    <tr>
                        <th class="text-center">@Model.todoItems[i].Title</th>
                        <th class="text-center"> 
                            <form asp-controller="Home" asp-action="Delete" asp-route-id="@Model.todoItems[i].Id" method="post">
                                <button type="submit" class="btn btn-outline-info btn-circle btn-sm btn-circle ml-2"><i class="fa fa-trash"></i>Delete</button>
                            </form>
                        </th>
                    </tr>
                            
                </table>
             </div>
            }
        }
    <form asp-action="IndexNew" method="post">
        <div class="form-group">
            <label asp-for="newTodo">Enter new task todo</label>
            <input asp-for="newTodo" class="form-control" required/>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>

